<form #form="ngForm" (ngSubmit)="submit(form)" (keydown.enter)="submit(form)" class="card card-load mb-0" autocomplete="off">
  <div class="modal-header">
    <h4>Alterar Senha</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body">
    <div class="row">
      <div class="col-12 form-group">
        <label for="password">Nova Senha:</label>
        <input [type]="type" class="form-control" required id="password" name="password" 
          [(ngModel)]="dados.password" #password="ngModel">
      </div>
      
      <div class="col-12 form-group">
        <label for="confirm_password">Confirma Senha:</label>
        <input [type]="type" class="form-control" required id="confirm_password" name="confirm_password" 
          [(ngModel)]="dados.confirm_password" #confirm_password="ngModel"
          [ngClass]="{'is-invalid': (validPassowrd == 'invalid'), 'is-valid': (validPassowrd == 'valid')}" />
        <div *ngIf="validPassowrd !== ''" 
          [ngClass]="{'invalid-feedback': (validPassowrd == 'invalid'), 'valid-feedback': (validPassowrd == 'valid')}">
          <span *ngIf="validPassowrd == 'valid'"> Senhas ok! </span>
          <span *ngIf="validPassowrd == 'invalid'"> Senhas não estão iguais! </span>
        </div>
      </div>
      
      <div class="col-12 form-group">
        <input type="checkbox" id="show" name="show" class="d-inline mt-1" (change)="changePassword()" [(ngModel)]="show"/> 
        <label for="show" class="d-inline ml-2">Mostrar Senha </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-secondary" (click)="close()">Voltar</button>
    <button type="submit" class="btn btn-success">
      <i class="fas fa-lock"></i> Alterar
    </button>
  </div>
</form>