th, td{
    text-align: center;
}

.floating-button-action {
    position: sticky; 
    top: 0px; 
    z-index: 999;
}

@media (max-width: 580px) { 

    .card-header>.card-tools .input-group, .card-header>.card-tools .nav, 
    .card-header>.card-tools .pagination {
        margin-bottom: 0 !important;
        margin-top: 0.3rem !important;
    }
}