<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/restricted/home']" class="brand-link">
    <img src="/assets/img/logo.jpg" alt="CDI/LTGO" class="brand-image img-circle elevation-2">
    <span class="brand-text font-weight-light">CDI/LTGO</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" (click)="closeSide()">
        <li class="nav-header">Menu</li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/home']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/vendas']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Vendas
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/entregas']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-cubes"></i>
            <p>
              Estoque
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/clientes']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Clientes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="alterPassword()">
            <i class="fas fa-lock"></i>
            <p>
              Alterar Senha
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>