<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        
        <div class="col-9">
          <h1 class="m-0">Baú</h1>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-12">
          
          <div class="card" [ngClass]="{'card-load': loading}">
            <div class="card-header">
              <div class="card-tools">
                <div class="input-group input-group-sm inputSearch">
                  <input type="text" name="table_search" class="form-control float-right" [(ngModel)]="term" placeholder="Pesquisar...">
        
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr class="text-center">
                    <th scope="row">#ID</th>
                    <th scope="col">Data</th>
                    <th scope="col">Qtd. Produtos</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of dataSource | filter:term">
                  <tr class="text-center">
                    <th scope="row">{{ item.id_entrega }}</th>
                    <td>{{ item.created_at }}</td>
                    <td>{{ (!item.qtd_produtos)? '****':item.qtd_produtos }}</td>
                    <td>{{ (!item.total_final)? '****':item.total_final | currency: 'R$' }}</td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <span class="badge badge-success" *ngIf="item.status === 'ok' ">Ok</span>
                        <span class="badge badge-warning" *ngIf="item.status === 'pendente' ">Pendente</span>
                        <span class="badge badge-primary" *ngIf="!item.status">Aberta</span>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm mx-2" title="Editar" (click)="editVenda(item.id_entrega)">
                        <i class="nav-icon fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="dataSource.length == 0">
                  <tr class="text-center">
                    <td colspan="8">Não há entregas no momento</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>